<div class='text-cente flex justify-center'>
      <%= form_with model: @drug, local: true do |form| %>
      <div class=" my-3 card w-full bg-base-100 shadow-2xl">
        <div class="form-group">
          <%= form.label :hospital_name, '病院名 (必須)※10文字以内' %>
          <%= form.text_field :hospital_name,class: " w-[300px] mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", :required => true, placeholder: "例：ひまわりクリニック" %>
        </div>

        <div class="form-group">
          <%= form.label :drug_name, '薬名 (必須)※10文字以内' %>
          <%= form.text_field :drug_name,class: "w-[300px] mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", :required => true, placeholder: "例：ミグリトール" %>
        </div>

        <div class="form-group">
          <%= form.label :number_of_tablets, '錠剤 (必須)※200以内まで' %>
          <%= form.number_field :number_of_tablets,class: "w-[300px] mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", :required => true, placeholder: "30" %>
        </div>

        <div class="field">
          <%= form.label :image_url %>
          <%= form.file_field :image_url , class: 'form-control mb-3', size: '300x200'%>
        </div>
         <% if @drug.image_url.present? %>
          <%= image_tag @drug.image_url.url, size: '300x200' %>
        <% else %>
         <%= image_tag 'demo.png', alt: 'テスト画像', size: '300x200' %>
        <% end %>


        <div class="form-group">
          <%= form.label :start_time %>
          <%= form.date_field :start_time, :required => true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :end_time %>
          <%= form.date_field :end_time, :required => true, class: 'form-control' %>
        </div>
          <%= form.label 'タイミング (必須)※必ず選択してください' %>
        <%= form.fields_for :take_times do |qu| %>
        
          
          <div class="form-group">
          <%= qu.select :take_time, TakeTime.take_times.keys.map { |k| [t("enum.take_time.take_time.#{k}"), k] }, { include_blank: "未選択" }, { class: "text-[#9A7E7E] form-select min-w-[120px] ml-4 rounded-[3px] border border-[#9A7E7E]", data: {}, required: true } %>
          </div>
        <% end %>
       
        <div class="form-group">
        
        <div class="text-center">
         <%= form.submit "更新", class: "w-[200px] mb-10 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" %>
       </div>
       </div>
      <% end %>
    </div>
</div>
