<div>
  <%= render 'shared/error_messages', object: @drug %>
  <div class="w-full text-center flex justify-center">
    <div class="mx-auto my-3 card w-85 bg-white shadow-xl rounded-lg p-6">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">お薬編集</h2>
      <%= form_with model: @drug, local: true do |form| %>
        <div class="card-body space-y-6">
          <div class="form-group">
            <%= form.label :hospital_name, '(必須)病院名 ※10文字以内', class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :hospital_name, class: "w-full p-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-gray-900 placeholder-gray-400", required: true, placeholder: "例：ひまわりクリニック" %>
          </div>
          <div class="form-group">
            <%= form.label :drug_name, '(必須)薬名 ※10文字以内', class: "block text-sm font-medium text-gray-700" %>
            <%= form.text_field :drug_name, class: "w-full p-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-gray-900 placeholder-gray-400", required: true, placeholder: "例：ミグリトール" %>
          </div>
          <div class="form-group">
            <%= form.label :number_of_tablets, '(必須)錠剤 ※200以内まで', class: "block text-sm font-medium text-gray-700" %>
            <%= form.number_field :number_of_tablets, class: "w-full p-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 text-gray-900 placeholder-gray-400", required: true, placeholder: "30" %>
          </div>
          <div class="form-group">
            <%= form.label :image_url, '画像URL', class: "block text-sm font-medium text-gray-700" %>
            <%= form.file_field :image_url, class: 'w-full p-3 bg-gray-50 border border-gray-300 rounded-lg' %>
          </div>
          <% if @drug.present? %>
            <%= image_tag @drug.image_url.url, size: '300x200', class: "block mx-auto my-4 rounded-lg shadow-md" %>
          <% else %>
            <%= image_tag '12345.jpg', alt: 'テスト画像', size: '300x200', class: "block mx-auto my-4 rounded-lg shadow-md" %>
          <% end %>
          <div class="form-group">
            <%= form.label :start_time, '(必須)服用開始日', class: "block text-sm font-medium text-gray-700" %>
            <%= form.date_field :start_time, class: 'w-full p-3 bg-gray-50 border border-gray-300 rounded-lg', required: true, value: @day %>
          </div>
          <div class="form-group mb-4 ">
            <%= form.label :end_time, '(必須)服用終了日', class: "block text-sm font-medium text-gray-700" %>
            <%= form.date_field :end_time, class: 'w-full p-3 bg-gray-50 border border-gray-300 rounded-lg', required: true, value: @next_day %>
          </div>
          <%= form.label 'タイミング (必須)※必ず選択してください' %>
          
          <%= form.fields_for :take_times do |qu| %>
            <div class="ingredient-fields flex items-center space-y-4">
              <%= qu.hidden_field :_destroy %>
              <div class="flex-1">
                <%= qu.label '(必須)タイミング', class: "block text-sm font-medium text-gray-700" %>
                <div class="form-group flex items-center space-x-20">
                  <%= qu.select :take_time, TakeTime.take_times.keys.map { |k| [t("enum.take_time.take_time.#{k}"), k] }, { include_blank: "未選択" }, { class: "text-gray-900 form-select p-2 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" } %>
                </div>
              </div>
            </div>
          <% end %>
        <div class="text-center">
    <%= form.submit "更新", class: "w-[200px] mb-10 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 shadow-lg hover:shadow-xl transition duration-300" %>
</div>
       </div>
      <% end %>
      <div class="flex justify-center ">
    <%= link_to "キャンセル", "/drugs", class: 'btn btn-outline bg-white border border-blue-600 text-blue-600 font-semibold rounded-md px-6 py-2 hover:bg-blue-100' %>
</div>
    </div>
</div>

<script>
  $(document).ready(function() {
    $("#add-ingredient").click(function() {
      var content = $("#ingredient-fields-template").html();
      var uniqueId = new Date().getTime();
        content = content.replace(/new_ingredient/g, uniqueId);
      $("#ingredients").append(content);
    });
    $(document).on('click', '.remove-ingredient', function() {
      $(this).closest('.ingredient-fields').find("input[name$='[_destroy]']").val('true');
      $(this).closest('.ingredient-fields').hide();
    });
  });
</script>