
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>

              <!-- image_tagを使う形に修正してください -->
              <%= image_tag @drug.image_url.url, class: "card-img-top img-fluid", size: '300x200' %>
            </div>
            <div class='col-md-9'>
             
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @drug.hospital_name %></li>
                <li class="list-inline-item">by <%= @drug.drug_name %></li>
                <li class="list-inline-item">by <%= @drug.number_of_tablets %></li>
                <!-- 複数服用タイミングを表示させる　--->
                服用タイミング
                <% @drug.take_times.each do |take_time| %>
          
          <li><%= take_time.take_time %></li> 
          <% end %>
                <li class="list-inline-item">by <%= @drug.start_time %></li>
                <li class="list-inline-item"><%= l @drug.end_time %></li>
              </ul>
              <div class='d-flex justify-content-end'>
                <%= link_to "編集をする", edit_drug_path(@drug)%>
              </div>
            </div>
          </div>
          
        </div>
      </article>
    </div>
  </div>
