<div class="flex flex-col lg:flex-row justify-center items-center gap-4 space-y-4 lg:space-y-0 mt-10">
  <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-8 p-6 bg-white shadow-md rounded-md w-full max-w-4xl">
    <div class="flex justify-center lg:justify-start">
      <%= image_tag 'mdc.png', size: '500x200', class: 'w-full' %>
    </div>
    <div class="hero min-h-fit flex items-center w-full lg:w-1/2">
      <div class="hero-content text-center flex flex-col justify-center h-full">
        <div class="max-w-xl mx-auto lg:mx-0">
          <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold">
            <br>家族飲んでいる薬を登録<br><br>記録して大切な家族を守りましょう
          </h1>
          <div class="flex justify-center mt-10 mb-10">
            <% if logged_in? %>
              <%= link_to new_drug_path, class: "w-70 text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 transition-all shadow-md hover:shadow-lg transform hover:scale-105" do %>
                <div class="flex items-center justify-center space-x-2">
                  <img class="hidden xl:block w-8 h-8" src="https://img.icons8.com/dusk/64/pills.png" alt="pills"/>
                  <p class="text-sm">まずは薬を登録しよう！</p>
                </div>
              <% end %>
            <% else %>
              <%= link_to login_path, class: 'w-[200px] focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900' do %>
                <p class="text-sm">スタート</p>
              <% end %>
            <% end %>
          </div>
          <label for="my_modal_7" class="btn">アプリの使い方</label>
          <div class="flex justify-center mt-5 mb-5">
            <%= link_to "https://x.com/intent/tweet?url=https://medicine-checker.com/&text=メディカルチェッカー", target: '_blank' do %>
              <div class="flex items-center px-4 py-2 text-sm font-medium text-white border border-black rounded-full hover:bg-gray-200 hover:text-gray-200 focus:z-10 focus:ring-2 focus:ring-gray-700 focus:text-gray-200">
                  <svg class="style-1b1cd5z" viewBox="0 0 20 20" style="width: 20px; height: 20px;">
                    <path d="m11.68 8.62 6.55-7.62h-1.55l-5.69 6.62-4.55-6.62h-5.25l6.88 10.01-6.88 7.99h1.55l6.01-6.99 4.8 6.99h5.24l-7.13-10.38zm-2.13 2.47-.7-1-5.54-7.92h2.39l4.47 6.4.7 1 5.82 8.32h-2.39l-4.75-6.79z"></path>
                  </svg>
                <p class="ml-2 text-sm text-black">でシェア</p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="text-lg font-bold">アプリの使い方</h3>
    <p>1. 薬の情報を登録</p>
    <p class="py-4">
      病院からもらった薬の情報をこのアプリに登録しましょう。
      <%= image_tag 'create.png', size: '500x200' %>
    </p>
    <br><br><br>
    <h3 class="text-lg font-bold">2. 服用の記録</h3>
    <p class="py-4">薬を飲んだらチェックして、記録を保存しましょう。</p>
    <p class="py-4"><%= image_tag 'kiroku1.png', size: '500x200' %></p>
    <p class="py-4"><%= image_tag 'kiroku2.png', size: '500x200' %></p>
    <br><br><br>
    <h3 class="text-lg font-bold">3. 服用予定の確認</h3>
    <p class="py-4">
      カレンダーから、服用予定や過去の記録を確認できます。
      <%= image_tag 'calendar.png', size: '500x200' %>
    </p>
    <br><br><br>
    <h3 class="text-lg font-bold">4. LINE連携でリマインダー</h3>
    <p class="py-4">
      LINEと連携すると、リマインダー通知が届くようになります。
      <%= image_tag 'reminder.png', size: '500x200' %>
    </p>
    <br><br><br>
    <h3 class="text-lg font-bold">5. 使い始める</h3>
    <p class="text-sm">「はじめる」ボタンを押して、アプリの使用を開始しましょう。</p>
    <div class="flex justify-center mt-5 mb-10">
      <%= link_to new_drug_path, class: "w-48 text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 transition-all shadow-md hover:shadow-lg transform hover:scale-105" do %>
        <div class="flex items-center justify-center space-x-2">
          <img class="hidden xl:block w-8 h-8" src="https://img.icons8.com/dusk/64/pills.png" alt="pills"/>
          <p class="text-sm">はじめる</p>
        </div>
      <% end %>
    </div>
  </div>
  <label class="modal-backdrop" for="my_modal_7">閉じる</label>
</div>

<div class="lg:flex justify-center items-center mt-10 mb-4">
  <div class="card w-96 bg-base-100 shadow-xl mx-auto flex flex-col justify-center h-full mb-4">
    <div class="card-body">
      <h2 class="card-title">1. 登録する</h2>
      <p>病院でもらった薬、服用タイミングなどを登録しましょう。</p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl mx-auto flex flex-col justify-center h-full mb-4">
    <div class="card-body">
      <h2 class="card-title">2. LINE通知を受け取りましょう</h2>
      <p>LINE連携するとラインからリマインダー通知が届くようになります。<br></p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl mx-auto flex flex-col justify-center h-full mb-4">
    <div class="card-body">
      <h2 class="card-title">3. チェックをつけましょう</h2>
      <p>服用したらチェックをつけましょう。<br>カレンダーから記録状況が見れます。</p>
    </div>
  </div>
</div>