<div class="lg:flex justify-center items-center gap-4 space-y-4 mt-10">
  <div class="flex flex-col md:flex-row space-x-0 md:space-x-8 p-6 bg-white text-gray-800 shadow-md rounded-md">
    <div class="card-body text-center flex flex-col h-full w-full">
      <h2 class="text-2xl font-bold mb-4 text-gray-900">マイページ</h2>

        <li class="flex items-center justify-center">
          <i class="fas fa-user mr-2 text-gray-600"></i>
          <strong class="mr-2 text-gray-700"><%= t(User.human_attribute_name(:name)) %></strong>
          </li>
          <span class="text-gray-600"><%= current_user.name %></span>
        <li class="flex items-center justify-center">
          <i class="fas fa-envelope mr-2 text-gray-600"></i>
          <strong class="mr-2 text-gray-700"><%= t(User.human_attribute_name(:email)) %></strong>
          </li>
          <span class="text-gray-600"><%= current_user.email %></span>

        <li class="flex items-center justify-center">
          <i class="fas fa-pills mr-2 text-gray-600"></i>
          <strong class="mr-2 text-gray-700">登録されている薬の数</strong>
          </li>
          <span class="text-gray-600"><%= @drug_count %></span>
    
      <div class="flex flex-col items-center">
        <%= link_to edit_profile_path(@user), class: 'btn btn-circle btn-outline btn-success hover:bg-green-500 hover:border-green-500 transition transform hover:scale-105' do %>
        <i class="fas fa-edit"></i>
        <% end %>
        </div>
        <br>
        <br>
        <div class="flex flex-col items-center">
        <h2 class="text-2xl font-bold mb-4 text-gray-900">リマインダー通知</h2>
          <div>追加するとLINEから毎日夜9時にリマインダー通知が届くようになります</div>
          <br>
          <br>
          <a href="https://lin.ee/LI2aSSh" class="inline-block">
            <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" width="150" height="52" alt="友だち追加" class="rounded-full shadow-md hover:shadow-lg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
