
      <table class="table">
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:email)) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= t(User.human_attribute_name(:name)) %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
    <th scope="row">登録されている薬の数</th>
    <td><%= @drug_count %></td> <!-- ここでdrugsの数を表示します -->
  </tr>
  <a href="https://lin.ee/LI2aSSh"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
      </table>
      <%= link_to '編集', edit_profile_path(@user), class: 'btn btn-success float-right' %>