<div class='text-cente flex justify-center'>
<div class=" my-3 card w-full bg-base-100 shadow-2xl">
<div class="form-group">
  <ul class="list-inline">
          病院名
          <li><%= drug.hospital_name %></li>
          薬名
          <li><%= drug.drug_name %></li>
          薬の数
          <li><%= drug.number_of_tablets %></li>
          期間開始日
          <li><%= drug.start_time %></li>
          期間終了日
          <li><%= drug.end_time %></li>
          <!-- 複数服用タイミングを表示させる　-->
          <% drug.take_times.each do |take_time| %>
          服用タイミング
          <li><%= take_time.take_time %></li> 
          <% end %>
          登録日
          <li><%= l drug.created_at, format: :short %></li>
        </ul>
  </div>
  </div>
  </div>