<nav class="bg-white border-gray-500 dark:bg-gray-400 h-20 z-10">
    <div class="flex flex-wrap items-center justify-between max-w-screen mx-auto p-4 h-20">
        <%= link_to root_path, class: "navbar-brand d-lg-block d-none p-0" do %>
      <%= image_tag '12345.jpg', class: "ms-3", style: "height: 45px;" %>
    <% end %>
       <%= link_to medication_checks_path, class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col " do %>
        <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
          <svg class="w-6 h-6 text-gray-800 dark:text-white text-white hidden sm:hidden md:hidden xl:block  transition duration-300  lg:flex-col " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"/>
          </svg>
         今日の記録する
        </div>
       <% end %>
       <%= link_to "/calendars", class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col px-2" do %>
        <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
          <svg class="w-6 h-6 text-gray-800 dark:text-white text-white hidden sm:hidden md:hidden xl:block transition duration-300  lg:flex-col " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
          </svg>
          カレンダー
        </div>
       <% end %>
       <%= link_to "/drugs", class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col px-2" do %>
        <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
          <img class="text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col " width="24" height="24" src="https://img.icons8.com/ios/50/FFFFFF/literature--v1.png" alt="literature--v1"/>
          薬一覧
        </div>
       <% end %>
       <%= link_to new_drug_path, class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col px-2" do %>
        <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
          <img class="text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col " width="24" height="24" src="https://img.icons8.com/android/24/FFFFFF/plus.png" alt="plus"/>
          登録
        </div>
       <% end %>
            <%= link_to profile_path, class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col px-2" do %>
            <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
       <img class="text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col " width="24" height="24" src="https://img.icons8.com/ios/50/FFFFFF/gender-neutral-user--v1.png" alt="gender-neutral-user--v1"/>
       マイページ
       </div>
       <% end %>
       <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, class: "text-white hidden sm:hidden md:hidden xl:block hover:text-blue-600 transition duration-300  lg:flex-col px-2" do %>
       <div class="grid items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
       <svg class="w-6 h-6 text-gray-800 dark:text-white text-white hidden sm:hidden md:hidden xl:block  transition duration-300  lg:flex-col " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
       </svg>          
       ログアウト
            </div>
            <% end %>
          <div class="drawer-end sm:block  xl:hidden absolute  fixed top-5 right-6 z-10 ">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer-4" class="drawer-button btn btn-ghost md:mx-5">
          <i class="fas fa-bars fa-2x" style="color:white"></i>
        </label>
      </div>
    
      <!--サイドメニュー -->
      <div class="drawer-side z-10">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="dark:bg-gray-300 dropdown-content z-[1] menu p-4 w-56 min-h-full">
          <li class="hover:rounded-xl mt-4">
            <%= link_to medication_checks_path, class: 'btn btn-ghost flex items-center mx-2' do %>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"/>
            </svg>
              <p class="text-sm">記録する</p>
            <% end %>
          </li>
           
          <li class="hover:rounded-xl mt-4">
            <%= link_to "/calendars", class: 'btn btn-ghost flex items-center mx-2' do %>
            <svg class="w-6 h-6 text-gray-800 dark:text-white text-white xl:block transition duration-300  lg:flex-col " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
          </svg>
              <p class="text-sm">カレンダー</p>
            <% end %>
          <li class="hover:rounded-xl mt-4">
            <%= link_to "/drugs", class: 'btn btn-ghost flex items-center mx-2' do %>
       <img class="text-white xl:block hover:text-blue-600 transition duration-300  lg:flex-col " width="24" height="24" src="https://img.icons8.com/ios/50/FFFFFF/literature--v1.png" alt="literature--v1"/>
              <p class="text-sm">薬一覧</p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to new_drug_path, class: 'btn btn-ghost flex items-center mx-2' do %>
            <img width="24" height="24" src="https://img.icons8.com/android/24/FFFFFF/plus.png" alt="plus"/>
              <p class="text-sm">登録</p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to profile_path, class: 'btn btn-ghost flex items-center mx-2' do %>
            <img class="text-white xl:block hover:text-blue-600 transition duration-300  lg:flex-col " width="24" height="24" src="https://img.icons8.com/ios/50/FFFFFF/gender-neutral-user--v1.png" alt="gender-neutral-user--v1"/>
              <p class="text-sm">マイページ</p>
            <% end %>
          </li>
          <li class="hover:rounded-xl mt-4">
            <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" }, class: 'btn btn-ghost flex items-center mx-2' do %>
              <svg class="w-6 h-6 text-gray-800 dark:text-white text-white xl:block  transition duration-300  lg:flex-col " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
              </svg>
              <p class="text-sm">ログアウト</p>
            <% end %>
          </li>
        </ul>
  </div>
</nav>

