<div id="drug-id-<%= drug.id %>" class="w-full lg:w-1/3 p-2">
    <div class="h-full flex flex-col">
      <div class="card bg-white shadow-lg rounded-lg overflow-hidden flex flex-col h-full transition transform hover:-translate-y-1 hover:shadow-2xl">
        <figure class="mx-auto my-4">
          <%= image_tag drug.image_url_url, size: '300x200', class: "block mx-auto rounded-lg" %>
        </figure>
        <div class="card-body text-center flex flex-col p-4">
          <ul class="list-none my-3 flex-grow text-left space-y-2">
            <li><strong>病院名:</strong> <span class="text-gray-700"><%= drug.hospital_name %></span></li>
            <li><strong>薬名:</strong> <span class="text-gray-700"><%= drug.drug_name %></span></li>
            <li><strong>薬の数:</strong> <span class="text-gray-700"><%= drug.number_of_tablets %></span></li>
            <li><strong>期間開始日:</strong> <span class="text-gray-700"><%= l drug.start_time %></span></li>
            <li><strong>期間終了日:</strong> <span class="text-gray-700"><%= l drug.end_time %></span></li>
            <li><strong>服用タイミング:</strong></li>
            <% drug.take_times.each do |take_time| %>
              <li class="font-normal">
                <%= take_time.take_time %>:
                <% check = @medication_checks.find_by(take_time_id: take_time.id)&.check %>
                <span class="<%= check == true ? 'text-green-500' : 'text-red-500' %>">
                  <%= check == true ? '服用済み' : '記録なし' %>
                </span>
              </li>
            <% end %>
          </ul>
          
          <div class="hover:rounded-xl mt-4">
            <%= link_to new_medication_check_path(drug_id: drug.id), class: 'btn btn-ghost flex items-center mx-2' do %>
              <p class="text-sm">チェックする</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>