
<div class="flex flex-col justify-center items-center mt-10 mb-5">
  <div class="container mx-auto px-10">
    <!-- 上部のナビゲーションリンク -->
   <div class="inline-flex rounded-md shadow-sm">
  <!-- Medication Check Link -->
  <%= link_to medication_checks_path, class: "flex items-center bg-white border rounded-lg py-2 px-4 text-blue-dark font-semibold hover:bg-gray-100 transition duration-300" do %>
    <img width="30" height="30" class="mr-2" src="https://img.icons8.com/ios/50/1A1A1A/approval--v1.png" alt="approval--v1"/>
    <p class="text-sm">今日の記録をする</p>
  <% end %>

  <!-- Calendar View Link -->
  <%= link_to "/calendars", class: "flex items-center bg-white border border-gray-200 rounded-lg py-2 px-4 text-gray-900 font-medium hover:bg-gray-100 hover:text-blue-700 transition duration-300 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white" do %>
    <svg class="w-6 h-6 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
    </svg>
    <p class="text-sm">カレンダーから記録する</p>
  <% end %>
</div>
    <!-- メインのカード表示 -->
    <div class="p-4 bg-white border-l border-r rounded-lg w-85">
      <div class="container mx-auto px-4">
        
       <li class="flex items-center justify-center">
          <h1 class="text-xl font-bold">日付: <%= l(@day) %></h1>
          </li>
          <li class="flex items-center justify-center">
          <i class="fas fa-user mr-2 text-gray-600"></i>
          <strong class="mr-2 text-gray-700"><%= t(User.human_attribute_name(:name)) %></strong>
          <span class="text-gray-600"><%= current_user.name %></span>
          </li>
        <!-- 薬情報のカード -->
        <div class="flex flex-wrap justify-start">
          <% if @drugs.present? %>
            <%= render partial: 'special_posts', collection: @drugs, as: :drug %>
          <% else %>
            <p class="text-gray-600">薬登録がありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
