<div id="drug-id-<%= @drug.id %>" class="col-sm-12 col-lg-6 mb-3">
  <div class="card">
    <div class="text-center flex justify-center">
      <div class="my-3 card w-3/4 bg-base-100 shadow-2xl">
        <div class="card-body">
          <li class="flex items-center justify-center">
          <h1 class="text-xl font-bold">日付: <%= l(@date) %></h1>
          </li>
              <li class="flex items-center justify-center">
              <i class="fas fa-user mr-2 text-gray-600"></i>
              <strong class="mr-2 text-gray-700"><%= t(User.human_attribute_name(:name)) %></strong>
              <span class="text-gray-600"><%= current_user.name %></span>
          </li>
          <%= form_with url: calendars_path, local: true do |form| %>
            <ul class="list-inline">
              <li><strong>病院名:</strong> <span class="text-gray-700"><%= @drug.hospital_name %></span></li>
              <li><strong>薬名:</strong> <span class="text-gray-700"><%= @drug.drug_name %></span></li>
              <li><strong>薬の数:</strong> <span class="text-gray-700"><%= @drug.number_of_tablets %></span></li>
            </ul>
            <div class="text-center flex justify-center">
              <div class="my-3 card w-85 bg-base-100 shadow-2xl">
                <div class="card-body">
                <h3>※服用したらチェックを入れて保存しましょう</h3>
                  <h3>服用するタイミング</h3>
                  <% @drug.take_times.each do |take_time| %>
                    <% medication_check = MedicationCheck.find_by(drug_id: @drug.id, take_time_id: take_time.id, check_time: @date) %>
                    <%= form.fields_for "medication_checks_attributes[]", take_time do |mc_form| %>
                      <li id="TakeTime-id-<%= take_time.id %>">
                        <%= take_time.take_time %>
                        <%= mc_form.check_box :check, { class: "checkbox checkbox-success", checked: medication_check&.check }, checked_value = "true", unchecked_value = "false" %>
                        <%= mc_form.hidden_field :take_time_id, value: take_time.id %>
                        <%= mc_form.hidden_field :drug_id, value: @drug.id %>
                        <%= mc_form.hidden_field :check_time, value: @date %>
                      </li>
                      
                    <% end %>
                  <% end %>
                  <div class="text-center">
                    <%= form.submit "保存", class: "w-[200px] mb-10 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" %>
                    </div>
                   <div class="text-center">
                    <%= link_to 'キャンセルする', with_date_show_calendar_path(id: @drug.id, date: @date.to_s, take_times: @medication_checks), class: "w-[200px] mb-10 focus:outline-none text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-gray-900" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>