<div class="container mx-auto px-4 sm:px-6 md:px-8 lg:px-10 mb-6">
  <!-- Card Container -->
  <div class="max-w-md mx-auto">
    <div class="flex justify-center items-center">
      <!-- Card Content -->
      <div class="card w-full bg-base-100 shadow-2xl my-3 p-4 sm:p-6">
        <!-- Card Body -->
        <div class="card-body">
          <!-- Date Display -->
          <li class="flex items-center justify-center">
          <h1 class="text-xl font-bold">日付: <%= l(@date) %></h1>
          </li>
          <li class="flex items-center justify-center">
          <i class="fas fa-user mr-2 text-gray-600"></i>
          <strong class="mr-2 text-gray-700"><%= t(User.human_attribute_name(:name)) %></strong>
          <span class="text-gray-600"><%= current_user.name %></span>
          </li>
          <!-- Drug Image -->
          <div class="flex justify-center mb-4">
            <%= image_tag @drug.image_url.url, size: '300x200', class: "block mx-auto my-4 rounded-lg shadow-md" %>
          </div>
          <!-- Drug Details List -->
          <ul class="space-y-2 text-sm sm:text-base">
            <li class="font-semibold">病院名: <span class="font-normal"><%= @drug.hospital_name %></span></li>
            <li class="font-semibold">薬名: <span class="font-normal"><%= @drug.drug_name %></span></li>
            <li class="font-semibold">薬の数: <span class="font-normal"><%= @drug.number_of_tablets %></span></li>
            <!-- Take Times List -->
            <li class="font-semibold">服用タイミング:</li>
            <ul class="list-disc pl-4">
              <% @drug.take_times.each do |take_time| %>
                <li class="font-normal">
                  <%= take_time.take_time %>: 
                  <% check = @medication_checks.find_by(take_time_id: take_time.id)&.check %>
                  <span class="<%= check == true ? 'text-green-500' : 'text-red-500' %>">
                    <%= check == true ? '服用済み' : '記録なし' %>
                  </span>
                </li>
              <% end %>
            </ul>
            <li class="font-semibold">服用開始日: <span class="font-normal"><%= l @drug.start_time %></span></li>
            <li class="font-semibold">期間終了日: <span class="font-normal"><%= l @drug.end_time %></span></li>
          </ul>

          <!-- Action Buttons -->
          <div class="flex justify-end space-x-2 mt-4">
          
            <%= link_to "編集をする", with_date_edit_calendar_path(date: @date, drug_id: @drug.id), class: "btn btn-primary btn-sm" %>
            <%= link_to "チェックする", with_date_new_calendar_path(drug_id: @drug, date: @date.to_s), class: "btn btn-secondary btn-sm" %>
          </div>
          <h1 class="text-xl font-bold">
            <span class="uppercase">メモ</span>
            <span class="text-gray-400">（調子などメモに残そう）</span>
          </h1>          <div id="memos">
          <%= turbo_frame_tag 'drug_modal' do %>
              <% if @memo %>
                <% @memo.each do |memo| %>
                  <%= render memo %>
                <% end %>
              <% end %>
          <% end %>
          </div>
          <div class="flex justify-end space-x-2 mt-4">
            <%= link_to 'メモ', with_date_new_memo_path(drug_id: @drug, date: @date.to_s), class: 'btn btn-sm md:btn-md btn-neutral', data: { turbo_frame: 'drug_modal' } %>
          </div>
          <!-- Back to Calendar Button -->
          <div class="flex justify-center text-slate-600 mt-6">
            <%= link_to "カレンダーに戻る", "/calendars", class: 'btn btn-outline bg-white border border-blue-600 text-blue-600 font-semibold rounded-md px-6 py-2 hover:bg-blue-100' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

