<div class="col-sm-12 col-lg-4 mb-3">
  <!-- 掲示板内容 -->
  <div class="card">
    <div class='text-cente flex justify-center'>
        <div class=" my-3 card w-100 bg-base-100 shadow-2xl">
         <div class="card-body">
          <%= l(@date) %>
            <!-- image_tagを使う形に修正してください -->
              <%= image_tag @drug.image_url.url, class: "card-img-top img-fluid", size: '300x200' %>
            
            <ul class="list-inline">
                病院名
                <li class="list-inline-item"><%= @drug.hospital_name %></li>
                薬名
                <li class="list-inline-item"><%= @drug.drug_name %></li>
                薬の数
                <li class="list-inline-item"><%= @drug.number_of_tablets %></li>
                <!-- 複数服用タイミングを表示させる　--->
                服用タイミング
                <% @drug.take_times.each do |take_time| %>
          
                <li><%= take_time.take_time %>:
                <% check = @medication_checks.find_by(take_time_id: take_time.id)&.check %>
                <% if check == true %>
                  服用済み
                <% else %>
                  記録なし
                <% end %>
              </li></li> 
                <% end %>
                服用開始日
                <li class="list-inline-item"><%= @drug.start_time %></li>
                期間終了日
                <li class="list-inline-item"><%= l @drug.end_time %></li>
              </ul>
              <div class='d-flex justify-content-end'>
                <%= link_to "編集をする", edit_drug_path(@drug)%>
              </div>
              <div class='d-flex justify-content-end'>
                <%= link_to "チェックする", new_calendar_path(drug_id: @drug, date: @date.to_s)%>
              </div>
            </div>
          </div> 
        </div>
    </div>
  </div>