<div class='md:flex flex-row text-center flex justify-center'>
  <div class=' border-b-2 mt-10 mb-10 text-center '>
    <p class="w-[450px] mb-5 text-xl text-gray-900 text-black-500">ログイン</p>
  </div>
</div>
  <div class='flex justify-center'>
      <%= form_with url: login_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "w-[300px] mb-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-100 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@flowbite.com" %>
    </div>
    <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "w-[300px] mb-10 col-md-6 offset-md-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-100 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "•••••••••" %>
    </div>
    <div class="text-center">
        <%= form.submit "ログイン", class: "w-[200px] mt-10 mb-10 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" %>
    </div>
    <% end %>  
    </div>
    <div class="text-center my-8">
    <%= link_to "新規登録はこちら", new_user_path %>
    </div>
    <div class="text-center my-8">
    <%= link_to "パスワードをお忘れの方", "#" %>
    </div>
    <div class="flex justify-center">
    <div class="w-[450px] divider mb-10">or</div>
    </div>
    <div class='text-center'>
    <button type="button" class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55  mb-2">
          <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
            <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
          </svg>
            Sign in with Google
    </button>
</div>
    

    
